{
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "arrowParens": "always",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^react$",
    "^next$",
    "^next/(.*)$",
    "^next-intl$",
    "^next-intl/(.*)$",
    "^@/i18n/(.*)$",
    "^next-(.*)$",
    "^@/project.config$",
    "^@mantine(.*)$",
    "^@emotion(.*)$",
    "^tailwindcss$",
    "^tailwindcss(.*)$",
    ".(css|scss)$",
    "<THIRD_PARTY_MODULES>",
    "^@/types/(.*)$",
    "^@/data/(.*)$",
    "^@/managers/(.*)$",
    "^@/services/(.*)$",
    "^@/utils/(.*)$",
    "^@/components/(.*)$",
    "^react-icons/(.*)$",
    "^~icons/(.*)$",
    "^@/assets/(.*)$",
    "^[@/]",
    "^[../]",
    "^[./]"
  ]
}
